:root{
  --ms_primary-color: #1abc9c;
  --ms_secondary-color: #2c3e50;
  --ms_secondary-color-light: #3a546d;

  --header-height: 100px;
}

html{
  font-size: 62.5%;
}

img{
  width: 100%;
}

/* COMMON  */
.ms_header-wrapper{
  text-transform: uppercase;
  font-weight: bold;
  /* line-height: 2.2; */
  text-align: center;
  margin-bottom: 15px;
}

.ms_header-wrapper h2{
  font-weight: bold;
  font-size: 3rem;
}


/* HEADER  */
header{
  height: var(--header-height);
  background-color: var(--ms_secondary-color);
  line-height: var(--header-height);
  padding: 0 .75rem;
  color: white;
  font-size: 2.2rem;
}

header .ms_header-wrapper{
  text-align: left;
  font-size: 2.5rem;
}

.ms_menu-wrapper{
  text-align: right;
}

.ms_menu{
  display: none;
}

.ms_menu ul{
  list-style-type: none;
}

.ms_menu li{
  display: inline-block;
  margin-left: 10px;
}

.ms_menu a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.ms_menu a:hover{
  color: var(--ms_primary-color);
}

.ms_burger-menu{
  display: inline;
  width: auto;
  padding: 2px 8px;
  border: 1px solid grey;
  border-radius: 5px;
  line-height: 2.2rem;
}

@media screen and (min-width: 768px){
  
  .ms_menu{
    display: block;
  }

  .ms_burger-menu{
    display: none;
  }
}


/* MAIN  */

section{
  padding: 50px 0;
}

/* JUMBOTRON  */
.jumbotron{
  background-color: var(--ms_primary-color);
  text-align: center;
  color: white;
}

.jumbotron h2{
  font-size: 4rem;
}

.jumbotron h3{
  font-size: 2.2rem;
}

.ms_img-wrapper{
  margin-bottom: 20px;
}

/* PORTFOLIO  */
.portfolio{
  text-align: center;
}

.portfolio-box{
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.portfolio-box .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 100px;
  font-weight: bolder;
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  justify-content: center;
  align-items: center;
}

.portfolio-box:hover .overlay{
  display: flex;
  cursor: pointer;
}

/* ABOUT SECTION  */
.ms_container{
  font-size: 2.2rem;
  width: 70%;
  margin: 0 auto;
}

/* contact section  */
.about{
  background-color: var(--ms_primary-color);
  color: white;
}

.about-text{
  margin-top: 20px;
}

.ms_btn-wrapper{
  margin-top: 20px;
  line-height: 2.8rem;
  text-align: center;
}

.ms_btn-wrapper i{
  margin-right: 10px;
}

.ms_btn-wrapper a{
  font-size: 2rem;
  border-radius: 5px;
  padding: .75rem 1.75rem;
}

/* hover su btn  */
.ms_btn-wrapper a:hover{
  color: var(--ms_primary-color);
}

/* CONTACT SECTION  */

/* form section  */

.ms_input-wrapper{
  margin-bottom: 15px;
}

.ms_input-wrapper input,
.ms_input-wrapper textarea{
  border: 1px solid transparent;
  border-bottom-color:var(--ms_secondary-color-light);
  border-radius: none;
  line-height: 1.6;
  font-size: 1.4rem;
}

.ms_input-wrapper input:focus,
.ms_input-wrapper textarea:focus{
  border-color: transparent;
  border-bottom-color:var(--ms_secondary-color-light);
  box-shadow: none;
}

.ms_form-btn{
  background-color: var(--ms_primary-color);
  border-color: transparent;
  border-radius: 4px;
}

/* FOOTER  */
footer{
  color: white;
  text-align: center;
}

.footer-info{
  background-color: var(--ms_secondary-color-light);
}

.footer-box{
  font-size: 1.5rem;
  padding: 30px 0;
}

.footer-info h3{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-info i{
  margin: 10px 5px;
  font-size: 1.5rem;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border: 1px solid white;
  border-radius: 50%;
  line-height: 4rem;
  text-align: center;
  color: white;
}

.footer-info i:hover{
  opacity: 0.6;
}

.footer-info a{
  text-decoration: none;
}

.copyright{
  background-color: var(--ms_secondary-color);
  color: white;
  padding: 20px 0;
}