:root{
  --ms_primary-color: #1abc9c;
  --ms_secondary-color: #2c3e50;
  --ms_secondary-color-light: #3a546d;

  --header-height: 100px;
}

html{
  font-size: 62.5%;
}

img{
  width: 100%;
}

/* COMMON  */
.ms_header-wrapper{
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.2;
}


/* HEADER  */
header{
  /* debug: */
  height: var(--header-height);
  background-color: var(--ms_secondary-color);
  line-height: var(--header-height);
  /* padding: 0 .75rem; */
  color: white;
  font-size: 2.2rem;
}

.ms_header-wrapper{
  font-size: 2.5rem;
}

.ms_menu-wrapper{
  text-align: right;
}

.ms_menu{
  display: none;
}

.ms_menu ul{
  list-style-type: none;
}

.ms_menu li{
  display: inline-block;
  margin-left: 10px;
}

.ms_menu a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.ms_menu a:hover{
  color: var(--ms_primary-color);
}

.ms_burger-menu{
  display: inline;
  width: auto;
  padding: 2px 8px;
  border: 1px solid grey;
  border-radius: 5px;
  line-height: 2.2rem;
}

@media screen and (min-width: 768px){
  
  .ms_menu{
    display: block;
  }

  .ms_burger-menu{
    display: none;
  }
}


/* MAIN  */

section{
  padding: 35px 0;
}

.jumbotron{
  /* height: 500px; */
  /* debug:  */
  background-color: var(--ms_primary-color);
  text-align: center;
  color: white;
}

.jumbotron h2{
  font-size: 4rem;
}

.jumbotron h3{
  font-size: 2.2rem;
}

.ms_img-wrapper{
  margin-bottom: 20px;
}

.portfolio{
  background-color: lightblue;
  /* debug:  */
  text-align: center;
}

.portfolio-box{
  height: 250px;
  background-color: pink;
  border: 1px solid black;
  /* debug:  */
  /* margin: 20px 0; */
}

.ms_container{
  background-color: green;
  height: 100%;
  font-size: 2.2rem;
  /* debug:  */
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

/* contact section  */
.about{
  height: 500px;
  /* debug:  */
  background-color: var(--ms_primary-color);
}

/* contact section  */
.contact{
  height: 350px;
  /* debug:  */
}

/* FOOTER  */
.footer-info{
  /* height: 250px; */
  /* debug:  */
  background-color: var(--ms_secondary-color-light);
}

.footer-box{
  background-color: red;
  /* margin-bottom: 10px; */
  font-size: 1.5rem;
  border: 1px solid white;
  /* debug:  */
}

.copyright{
  /* height: 100px; */
  /* debug:  */
  background-color: var(--ms_secondary-color);
  color: white;
  text-align: center;
  padding: 20px 0;
}